html,
body {
  font-family: Helvetica;
}

h2 {
  margin-top: 2em;
}

.version-item-label {
  min-width: 4em;
  display: inline-block;
}

.item-label {
  min-width: 10em;
  display: inline-block;
}

.error {
  color: #f80b0b;
  min-width: 4em;
  display: inline-block;
  font-weight: bold;
}

.ok {
  color: #20d920;
  font-weight: bold;
  min-width: 4em;
  display: inline-block;
}

.enable {
  font-style: normal;
}

.disable {
  color: rgba(129, 129, 148, 0.8);
  font-style: italic;
}

.parentCanvas {
  width: 300px;
  height: 200px;
  background-color: #cccccc;
  text-align: center;
  color: red;
  font-weight: bold;
}

.canvasApp {
  width: 100%;
  height: 100%;
  background-color: rgb(25, 136, 58);
}

.labelHello {
  display: inline-block;
  position: relative;
  font-size: 30px;
  text-align: center;
  padding-left: 8px;
  padding-right: 8px;
  color: white;
  background-color: rgb(84, 26, 200);
  font-family: 'Courier New', Courier, monospace;
}

.labelFPS {
  display: inline-block;
  position: relative;
  text-align: center;
  color: white;
  font-family: 'Times New Roman', Times, serif;
}

.time-info {
  float: left;
}

.time-info ul {
  margin-top: 0;
}

.clear {
  clear: both;
}

.no-marker {
  list-style-type: none;
  margin: 0;
  padding: 0;
}