html,
body {
  font-family: Helvetica;
}

h2 {
  margin-top: 2em;
}

.version-item-label {
  min-width: 4em;
  display: inline-block;
}

.item-label {
  min-width: 10em;
  display: inline-block;
}

.error {
  color: #f80b0b;
  min-width: 8em;
  display: inline-block;
  font-weight: bold;
}

.ok {
  color: #20d920;
  font-weight: bold;
  min-width: 8em;
  display: inline-block;
}

.no-marker {
  list-style-type: none;
  margin: 0;
  padding: 0;
}