html,
body {
  padding: 0;
  margin: 0;
  position: fixed;
  background-color: #000000;
  overflow: hidden;
  display: inline;
  width: 100vw;
  height: var(--app-height);

  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* standard syntax */

  -webkit-tap-highlight-color: transparent; /* disable blue box when clicking in chrome mobile */
  overscroll-behavior: none; /* disable pull-to-refresh */
}

.canvasApp {
  position: fixed;
  background-color: #cfcfcf;
  left: 0px;
  top: 0px;
  margin: 0;
  padding: 0;
  border: 0;
  border-spacing: 0;
  display: inline;
  width: 100vw;
  height: var(--app-height);
  font-size: 100%;
}
